html {
  scroll-behavior: smooth;
}

.title-header {
  font-size: 50px;
  font-family: Arial;
  text-align: center;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  border: none;
}
.nav-tab{
  list-style: none;
}
#nav-tab li{
  display: inline-flex;
}
#nav-tab li a{
 text-decoration: none;
 color:rgba(255, 255, 255, 0.8);
 padding: 10px;
 font-weight: 600;
 font-size: 2vw;
 padding-left: 10px;
}

@media (max-width: 500px) {
  #nav-tab li a{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.8);
    padding: 10px;
    font-weight: 600;
    font-size: 6vw;
    padding-left: 10px;
   }
}

#nav-tab li a:hover {
  color:#fff;
  background-color: #e74c3c;
  border-radius: 10px;
}

#container {
	text-align: center;
  margin-top: 22%;
  margin-bottom: 28%;
}

@media (max-width: 500px) {
  #container {
    text-align: center;
    margin-top: 100%;
    margin-bottom: 28%;
    height: 75px;
    margin-left: 1%;
    margin-right: -12%;
  }
}

#text {
	display: inline-block;
	vertical-align:middle;
	color: white;
  font-weight: bold;
	letter-spacing: 2px;
  font-size: 4vw;
}

@media (max-width: 500px) {
  #text {
    display: inline-block;
    vertical-align:middle;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 12vw;
  }
  
}

#cursor {
	display: inline-block;
	vertical-align: -2vw;
	width: .05vw;
	height: 5vw;
	background-color: white;
	animation: blink .75s step-end infinite;
}

@media (max-width: 500px) {
  #cursor {
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 60px;
    background-color: white;
    animation: blink .75s step-end infinite;
  }
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: white; 
	}
}

.buttons {
  text-align: center;
  margin-top: 1%;
}

@media (max-width: 500px) {
  .buttons {
    text-align: center;
    margin-top: 130%;
    margin-left: 10%;
    margin-bottom: 20%;
  }
}
.github {
  text-align: center;
  display: inline-block;
}
.github-logo {
  width: 40px;
}
.github-text {
  width: 80px;
}
.github button {
  font-size: 1.5vw;
  color: white;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  background-color: rgb(44, 40, 40);
  transition: opacity 0.15s;
}
.github button:hover {
  opacity: 0.7;
}
.github:active {
  opacity: 0.6;
}

.linkedin {
  text-align: center;
  display: inline-block;
}
.linkedin img {
  width: 120px;
  height: 30px;
  
}
.linkedin button {
  font-size: 1.5vw;
  color: white;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 5px;
  cursor: pointer;
  background-color: rgb(24, 202, 214);
  transition: opacity 0.15s;
}
.linkedin button:hover {
  opacity: 0.7;
}
.linkedin button:active {
  opacity: 0.6;
}

.about-me {
  font-family: monospace;
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 2.5vw;
  margin-top: 20px;
  margin-left: 2%;
  margin-right: 2%;
}

@media (max-width: 500px) {
  .about-me {
    font-family: monospace;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 8vw;
    margin-top: 20px;
    margin-left: 6%;
    margin-right: -6%;
  }
}

.about-me p {
  font-size: 2vw;
  font-family: monospace;
  font-weight: normal;
  background-color: rgb(44, 40, 40);
  border-radius: 10px;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
}

@media (max-width: 500px){
  .about-me p {
    font-size: 6vw;
  }
}

.USC{
  transition: opacity 0.15s;
}
.USC:hover {
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.7;
}
.USC:active {
  opacity: 0.4;
}
.USC-CSCE:hover {
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.7;
}
.USC-CSCE:active {
  opacity: 0.4;
}

.projects-title {
  color: white;
  text-align: center;
  font-family: monospace;
  font-size: 2.5vw;
  margin-top: 100px;
  font-weight: bold;
}

@media (max-width: 500px){
  .projects-title {
    font-size: 8vw;
    margin-top:25vw;
    margin-left: 10%;
  }
}
.projects-top {
  color: white;
  text-align: center;
  font-family: monospace;
  font-size: 2.5vw;
  margin-top: 20px;
  margin-bottom: -20px;
  font-weight: bold;
  display: flex;
}

@media (max-width: 500px){
  .projects-top {
    color: white;
    text-align: center;
    font-family: monospace;
    font-size: 2.5vw;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 0;
    margin-right: -7%;
    font-weight: bold;
    display:list-item;
  }
}

.project-studiverse {
  font-size: 2vw;
  background-color: rgb(44, 40, 40);
  border-radius: 15px;
  padding-top: 10px;
  margin-top: 30px;
  width: 50%;
  margin-right: 5px;
  margin-left: 10px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
}

@media (max-width: 500px){
  .project-studiverse {
    font-size: 7vw;
    background-color: rgb(44, 40, 40);
    border-radius: 15px;
    padding-top: 10px;
    margin-top: 10px;
    width: 100%;
    margin-left: 2%;
    margin-right: -2%;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
    margin-bottom: 10%;
  }
}
.project-studiverse-desc {
  font-size: 1.3vw;
  font-weight: normal;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
}

@media (max-width: 500px){
  .project-studiverse-desc {
    font-size: 5vw;
    font-weight: normal;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
  }
}

.studiverse-logo {
  width: 15%;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 500px) {
  .studiverse-logo {
    width: 20%;
    margin-top: 3%;
    margin-bottom: -1%;
  }
}
.studiverse-list {
  font-size: 1.3vw;
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  transition: opacity 0.15s;
  margin-top: 0;
}

@media (max-width: 500px){
  .studiverse-list {
    font-size: 5vw;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    transition: opacity 0.15s;
    margin-top: 0;
  }
}
.studiverse-list:hover {
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.7;
}
.studiverse-list:active {
  opacity: 0.4;
}
.project-sandbot {
  font-size: 2vw;
  background-color: rgb(44, 40, 40);
  border-radius: 15px;
  padding-top: 10px;
  margin-top: 30px;
  width: 50%;
  margin-left: 5px;
  margin-right: 10px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
}

@media (max-width: 500px){
  .project-sandbot {
    font-size: 8vw;
    background-color: rgb(44, 40, 40);
    border-radius: 15px;
    padding-top: 10px;
    margin-top: 10px;
    width: 100%;
    margin-left: 2%;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
    margin-bottom: 10%;
  }
}
.project-sandbot-desc {
  font-size: 1.3vw;
  font-weight: normal;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
}

@media (max-width: 500px){
  .project-sandbot-desc {
    font-size: 5vw;
    font-weight: normal;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
  }
}
.sandbot-list {
  font-size: 1.3vw;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  transition: opacity 0.15s;
  margin-top: 0;
  margin-bottom: 10px;
}

@media (max-width: 500px) {
  .sandbot-list {
    font-size: 5vw;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    transition: opacity 0.15s;
    margin-top: 0;
    margin-bottom: 10px;
  }
}
.sandbot-list:hover {
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.7;
}
.sandbot-list:active {
  opacity: 0.4;
}
.sandbot-logo {
  width: 10%;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 500px) {
  .sandbot-logo {
    width: 15%;
    margin-top: 3%;
    margin-bottom: 0;
  }
}

.projects-bottom {
  color: white;
  text-align: center;
  font-family: monospace;
  font-size: 2.5vw;
  font-weight: bold;
  display: flex;
}

@media (max-width: 500px){
  .projects-bottom {
    color: white;
    text-align: center;
    font-family: monospace;
    font-size: 2.5vw;
    font-weight: bold;
    display: list-item;
    margin-right: -7%;
  }
}
.project-dolfin {
  font-size: 2vw;
  background-color: rgb(44, 40, 40);
  border-radius: 15px;
  padding-top: 10px;
  margin-top: 30px;
  width: 50%;
  margin-right: 5px;
}

@media (max-width: 500px){
  .project-dolfin {
    font-size: 8vw;
    width: 100%;
  }
}

.dolfin-logo {
  width: 10%;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 500px){
  .dolfin-logo {
    width: 15%;
    margin-top: 3%;
    margin-bottom: -1%;
  }
}

.projects-desc {
  color: white;
  text-align: center;
  font-family: monospace;
  font-size: 1.3vw;
  margin-top: 25px;
  font-weight: bold;
}

@media (max-width: 500px) {
  .projects-desc {
    color: white;
    text-align: center;
    font-family: monospace;
    font-size: 5vw;
    margin-top: 5%;
    font-weight: bold;
    margin-left: 12%;
  }
}

.github-link {
  transition: opacity, 0.15s;
}
.github-link:hover {
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.7;
}
.github-link:active {
  opacity: 0.5;
}

.contact-me {
  color:white;
  text-align: center;
  font-size: 2.5vw;
  font-family: monospace;
  font-weight: bold;
  padding-top: 10%;
}

@media (max-width: 500px) {
  .contact-me {
    color:white;
    text-align: center;
    font-size: 10vw;
    font-family: monospace;
    font-weight: bold;
    padding-top: 10%;
    margin-left: 12%;
  }
}
.contact-me-desc {
  color:white;
  text-align: center;
  font-size: 1.3vw;
  font-family: monospace;
  margin-top: 0;
}

@media (max-width: 500px) {
  .contact-me-desc {
    color:white;
    text-align: center;
    font-size: 5vw;
    font-family: monospace;
    margin-top: 0;
    margin-left: 12%;
  }
}
.contact-form {
  text-align: center;
  font-size: 2vw;
}

.contact-send{
  background-color: rgb(131, 129, 129);
  border: none;
  border-radius: 7.5px;
  font-size: 2vw;
  font-family: monospace;
  padding-left: 10px;
  padding-right: 10px;
  transition: opacity, 0.15s;
  margin-bottom: 100px;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.7);
}

@media (max-width: 500px) {
  .contact-send{
    background-color: rgb(131, 129, 129);
    border: none;
    border-radius: 7.5px;
    font-size: 7vw;
    font-family: monospace;
    padding-left: 10px;
    padding-right: 10px;
    transition: opacity, 0.15s;
    margin-bottom: 100px;
    margin-left: 11%;
  }
}
.contact-send:hover{
  cursor: pointer;
  opacity: 0.7;
}
.contact-send:active{
  opacity: 0.4;
}
.input-box{
  font-size: 2vw;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.7);
}

@media (max-width: 500px) {
  .input-box{
    font-size: 8vw;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-right: 10px;
    border: none;
  }
}
.input-box::placeholder{
  font-size: 1.5vw;
}

.input-box-textarea {
  font-size: 2vw;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.7);
}

@media (max-width: 500px) {
  .input-box-textarea {
    font-size: 4.25vw;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    padding-bottom: 200px;
    
  }
}
.input-box-textarea::placeholder{
  font-size: 1.5vw;
}

@media (max-width: 500px) {
  .input-box-textarea::placeholder{
    font-size: 5vw;
  }
  
}

@media (max-width: 500px){
  .input-box::placeholder{
    font-size: 5vw;
  }
}